<h1>New Contact</h1><a href='/contacts/form' class="btn btn-primary">Form With Invisible Recaptach</a>

<%= render 'form', contact: @contact %>

<%= link_to 'Back', contacts_path %>

<!-- 
<section class="pt-4 pb-4 contact">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-sm-8">
        <div class="d-none d-sm-block">
          <p class="text-center"><%#= image_tag("map.svg", alt: "map", class: "img-fluid") %></p>
        </div>
        <div class="row no-gutters">
          <%#= render 'form', contact: @contact %>
        </div>
      </div>
      <div class="col-sm-1 d-none d-sm-block"><%#= image_tag("divider.svg", alt: "divider", class: "img-fluid") %></div>
    </div>
  </div>
</section>
 -->